@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 3vw 0px;

}

header > h1{
    margin: 0px;
    font-family: 'Passion One', cursive;
    font-size: 10vw;
    font-variant: small-caps;
}


header p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.destaque{
    font-weight: bold;
}

span a{
    text-decoration: none;
    color: white;
}

span a:hover {
    text-decoration: underline;
    color: white;
}


.secoes{
    font-family: 'Sriracha', cursive;;
    font-size: 5vh;

}


#secao02{
    background-image: url('/img/background001.jpg');
    background-position: center center;
    background-attachment: fixed;

}



#secao05 {
    background-image: url('/img/background002.jpg');
    background-position: center center;
    background-attachment: fixed;

}

.caixa_com_fundo {
    background-color: aliceblue;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.342);
    border-radius: 10px;
    color: aliceblue;
    padding: 1vw;
    font-size: 3.5vw;
    line-height: 8vw;
    margin: 5vh;
}

.caixa_sem_fundo{
    display: inline-block;
    border-radius: 10px;
    padding: 1vh;
    margin: 5vh;
    font-size: 3.5vw;
    line-height: 8vw;

}

footer{
    background-color: black;
    text-align: center;
    color: white;
    height: 50px;
    padding: 1vw;
 
}

footer p{
    margin: 0;
    
}