*{  margin: 0px;
    padding: 0px;

}

body{
    width: 100vw;
    height: 100vh;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(236, 236, 236);
}

header{
    background-color: darkgray;
}

header h1{
    text-align: center;
    padding: 10px;
}

#menu_drop{
    background-color: rgb(136, 136, 136);
    padding: 5px;
    display: block;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav ul li{
    background-color: lightgray;
    list-style: none;
    display: block;
    padding: 10px;
    margin: 0px;
    border-top: 1px solid gray;
}

nav ul li:hover{
    background-color: white;
}

ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}

main{
    max-width: 65vw;
    width: 800px;
    min-width: 300px;
    margin: auto;
    background-color: white;
    padding: 10px;
    line-height: 1.5em;
    margin-top: 10px;
    border-radius: 10px;

}

main h2{
    padding: 5px 0px;
}

main p{
    line-height: 1.5em;
    font-size: 1.2em;
    padding: 10px 0px;
}

@media screen and (min-width: 768px) {
    nav ul li{
        display: inline-block;
    }
    #menu_drop{
        display: none;
    }

    main{
    max-width: 50vw;
    width: 800px;
    min-width: 320px;
    }
    
}
