@charset "UTF-8";

/*Modo Landscape*/
@media screen and (orientation: landscape){
    * {
            margin: 0px;
            padding: 0px;
        }
    body {
            background-image: url('../img/cev-landscape.jpg');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    h1::after {
        content: "Modo Landscape";
        color: white;
        padding: 10px;
    }
}
/*Mode Portrait*/
@media screen and (orientation: portrait) {
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
        background-image: url('../img/cev-portrait.jpg');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
    }
    h1::after {
        content: "Modo Portrait";
        color: white;
        padding: 10px;
    }
}
/*Telas de no minimo 768px*/
@media screen and (min-width: 768px){
    body{
        background-image: none;
    }
    h1::after{
        content: "Reduza o tamanho da sua tela";
        color: black;
    }
}



