body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: rgb(248, 219, 166);
}

header{
    width: 800px;
    margin: auto;
    background-color: white;
    padding: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
    border: solid 2px black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  
}

nav{
    border: solid 2px black;
    padding: 5px;
    text-align: center;
}

main{
    width: 800px;
    margin: auto;
    background-color: white;
    padding: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
    border: solid 2px black;
}

section{
    width: 700px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: solid 2px black;
    padding: 1em;
}

section aside{
    width: 600px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: solid 2px black;
    padding: 1em;

}

aside{
    width: 700px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: solid 2px black;
    padding: 1em;

}



footer{
    width: 800px;
    margin: auto;
    background-color: white;
    padding: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
    border: solid 2px black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}